ESB/services/AuchanRetailService/AuchanRetailService_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AuchanRetailService"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="getProductsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getProductsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="getProductsRequest">
		<wsdl:part name="parameters" element="tns:getProductsRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getProductsResponse">
		<wsdl:part name="parameters" element="tns:getProductsResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="AuchanRetailService">
		<wsdl:operation name="getProducts">
			<wsdl:input message="tns:getProductsRequest"></wsdl:input>
			<wsdl:output message="tns:getProductsResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="AuchanRetailServiceBinding" type="tns:AuchanRetailService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getProducts">
			<soap:operation soapAction="http://www.talend.org/service/getProducts" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="AuchanRetailService">
		<wsdl:port name="AuchanRetailServicePort" binding="tns:AuchanRetailServiceBinding">
			<soap:address location="http://localhost:8090/services/AuchanRetailService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>